<h2><%= @comment.content%> - <%= @comment.user.username%></h2>


<h4>Read the story here: <%= link_to @comment.story.title, story_path(@comment.story_id) %></h4>

<% if @comment.user == current_user %>
<h4><%= link_to "Edit This comment", edit_comment_path(@comment)%></h4>


<% end %>