
<h1> Hi, <%= @user.username %> </h1>



<%= link_to "See All My Stories",  user_stories_path(@user) %> %>
link to my comments


<%= form_tag( "/logout", method:'delete' ) do %>
    <%= submit_tag "Logout" %>
<% end %>
